/* Login CSS */
/* Layout for Auth pages only */
.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.auth-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  gap: 100px;
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
    gap: 40px;
  }
  .auth-logo .x-logo {
    width: 50px;
  }
}

/* Main */
body {
  display: grid;
  grid-template-columns: 250px minmax(0, 600px) 250px;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-bg-base);
  gap: 20px;
  color: var(--color-text-muted);
  font-family:
    Segoe UI,
    Arial,
    sans-serif;
}

#nav-bar a:hover {
  background: rgba(255, 255, 255, 0.03);
  color: var(--color-text-inverse);
}

aside h3 {
  color: var(--color-text-inverse);
}

/* Header and main content should avoid the fixed columns */
header {
  display: grid;
  grid-template-rows: 10% 10%;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

main {
  padding: 20px;
}
